{% extends "base.html" %}
{% block symptom_page %}
	<section id="faq" class="faq section-bg">
	
	
	<!-- <img src={{url_for ('static', filename = 'img/misc/hc1-doctors.jpg')}}>	-->
		<div class="container" align='center'>	
			<img src={{url_for ('static', filename = 'img/misc/hc-animateddoctor.jpg')}} alt = 'sign' width="600" height="400">
			<br><br><br><br>
		</div>
		<div class='container'>
			<h4><i>Who are We?</i></h4><br>
			<p>HealthClick is a telemedicine initiative taken to provide medicine at the patient's doorstep using technology as a bridge for handling the communication. We are a movement set to revolutionize medicine by using technology to fulfill the existing gaps and provide solutions. </p><br>
			<h4><i>Our Goals</i></h4>
			<p> <ol>
				<li>To make lab-test sampling a smoother process</li>
				<li>To deliver medicines to the comfort of users' homes</li>
				<li>To lessen the burden on healthcare officials by helping to determine the severity of a patient's symptoms</li>
				<li>To automate delivery of medicines which are needed regularly</li>
				<li>To use technology for scheduling of appointments</li>
				<li>To remind patients to take their medicines punctually through notifications</li>
			</ol></p><br>
			<h4><i>Our Motto</i></h4><br>
			<p>To strive, to seek, to find and not to yield in providing quality service through the fusion of technology and medicine sectors.</p>
		</div>

	</section>

{% endblock %}