{% extends "base.html" %}
{% block symptom_page %}
	<section id="gallery" class="gallery">
		<div class="container">
			<img src="{{url_for ('static', filename = 'img/misc/hc-insurance.jpg')}}" alt = 'sign' width="1000" height="400" align='center'>
			<br> <br>
			<h4 align = 'center'><u>Demistifying Health Insurance</u></h4> <br>
			<p>
				<h5> Types of Health Insurance Policies </h5> <br>
				<ul><li><b>Indemnity Plans</b></li>
					<p>Indemnity plans are traditional health insurance plans that cover your hospitalization expenses up to the sum insured.</p>
					<li><b>Defined-Benefit Plans</b></li>
					<p>Defined-Benefit Plans compensate the patient with a lump sum amount on the detection of illness.</p>

				<br>

				</ul>

				<h6> <b> Indemnity Plans </b> </h6>
				<ol><li>Mediclaim</li><p>Compensates you for hospitalization expenses incurred due to illness or accidental stay</p>
					<li>Individual Coverage</li><p>Individual is entitled to receive the incurred amount during a hospitalization</p>
					<li>Family Floater</li><p>Insurance of your complete family is covered under this plan. Sum insured is equally divided among the members. </p>
					<li> Unit Linked </li>
					<p>Investment cum Insurance plans </p>
					<li> Group Mediclaim </li>
					<p>Typically purchased by employers to cover the employees working in their organization. </p>
					</ol>

					<br>
				<h6> <b> Defined-Benefit Plans </b> </h6>
				<ol><li>Critical Illness</li>
					<p>This plan is especially designed to treat certain specific illnesses, typically illnesses arising from lifestyle.</p>
				<li>Personal Accident</li>
				<p>This policy covers against an accidental injury or death while driving by paying a lump sum amount due to either death or permanent loss of income due to disability</p>
				<li>Hospitalization Cash Benefit</li>
				<p>Insured is paid with a daily cash allowance upto a certain limit, apart from hospital expenses.</p> 
			</ol>
			<p> To get started with learning more about health insurance and to compare the policies, you can start by visitng the following 
				<a href="https://health.policybazaar.com/?offerid=6&pb_source=google_brand&pb_medium=cpc&pb_term=Policy%20bazaar%20health%20insurance&pb_campaign=PolicyBazaar_Health_Broad00Health_Insurance&gclid=Cj0KCQjw5eX7BRDQARIsAMhYLP9fpnYWFwnuKonFzMFKdl40I3D9c-IVfCJzDM-ohTCBPkOJFZ0QJEMaAqsnEALw_wcB">third-party link.</a> <br> Note that HealthClick does not endorse any policies presented on third-party sites. Please proceed with your own discretion. </p>
			</p>
		</div>
	</section>

{% endblock %}